@charset "UTF-8";

/* Exemplo de uso do Google Web Fonts
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,700,700italic);*/

@font-face {
  font-family: 'Fonte Títulos';
  src: url('../_fontes/DINMedium.ttf');
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12pt;
  padding: 0;
  margin: 0 5vw;
}

ul, ol {
  list-style-position: inside;
}

header {
  background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
  position: relative;
  margin: 0 -5vw;
  padding-left: 15px;
}
#logo-principal {
  width: 30%;
  min-width: 200px;
  max-width: 350px;
}
#logo-secundario {
  width: 30%;
  max-width: 300px;
  min-width: 180px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#menu-principal {
  background-color: rgb(74, 85, 92);
  margin: 0 -5vw;
}
#menu-principal ul {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 0;
}
#menu-principal ul li {
  float: left;
  /*margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;*/
}
#menu-principal a {
  color: #ffffff;
  text-decoration: none; /* tira o sublinhado dos links */
  padding: 10px 15px;
  display: block;
  font-weight: bold;
}
.link-sel {
  background-color: rgb(148, 22, 17);
}
#menu-principal a:hover {
  background-color: #5B666D;
}
section {
  width: 65%;
  float: left;
  padding: 15px 0;
}
section a {
  color: rgb(176, 17, 22);
  text-decoration: none;
  transition: opacity 1s;
}

section a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

section a:visited {
  text-decoration: wavy;
}

article {
  margin-bottom: 60pt;
}

article h1 {
  font-family: 'Fonte Títulos', Verdana, Arial, sans-serif;
  font-size: 200%;
  color: rgb(74, 85, 92);
  margin: 4px 0;
  border-bottom: 2px solid rgb(176, 17, 22);
 }

article h3 {
  font-family: 'Fonte Títulos', Verdana, Arial, sans-serif;
  font-size: 80%;
  color: #aaaaaa;
  margin: 0;
  text-transform: uppercase;
}

article h4 {
  font-family: 'Fonte Títulos', Verdana, Arial, sans-serif;
  font-size: 60%;
  color: #aaaaaa;
  margin: 0 0 15px 0;
  float: left;
}

article figure {
  background-color: #dddddd;
  border: 8px solid #dddddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  width: 50%;
}

article figure figcaption {
  font-size: 75%;
  color: #aaaaaa;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
}

article figure img {
  width: 100%;
}

.figure-left {
  float: left;
  margin: 8px 20px 8px 0;
}

.figure-right {
  float: right;
  margin: 8px 0 8px 20px;
}

.float-right {
  float: right;
}

article p {
  text-align: justify;
  text-indent: 10%;
}

/* limpa as flutuações de ambos os lados */
.clear-both:after {
  clear: both;
  display: block;
  content: "";
}

aside {
  background-color: moccasin;
  width: 35%;
  float: right;
}
footer {
  background-color: palegreen;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 400px) {
  section, aside {
    float: none;
    width: 100%;
  }
  #logo-secundario {
    position: relative;
  }
  #menu-principal ul {
    display: none;
  }
  #menu-principal {
    height: 48px;
    width: 48px;
    background: rgb(74, 85, 92) url("../_imagens/mobile_menu_icon.png") center no-repeat;
    background-size: 75%;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  #menu-principal:hover ul {
    display: block;
    width: 200px;
    margin-top: 48px;
    margin-left: -152px;
    background-color: rgb(74, 85, 92);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
  }
  #menu-principal:hover ul li {
    float: none;
  }
}
